<!DOCTYPE html>
<html lang="en">
<head>
    <title>PixelTrice</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<h1 class="text-center">Spring Boot Image Gallery Application</h1><br><br>
<div class="contact py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- form -->
        <form id="form">
            <div class="contact-grids1 w3agile-6">
                <div class="row">
                    <div class="col-md-6 col-sm-6 contact-form1 form-group">
                        <label class="col-form-label">Name</label>
                        <input class="form-control" id="name" name="name" placeholder="Product Name" required="required"
                               type="text">
                        <p id="error_name"></p>
                    </div>
                    <div class="col-md-6 col-sm-6 contact-form1 form-group">
                        <label class="col-form-label">Description</label>
                        <textarea class="form-control" cols="45" id="description" name="description"
                                  placeholder="Product Description" required="required" rows="3"></textarea>
                        <p id="error_description"></p>
                    </div>
                    <div class="col-md-6 col-sm-6 contact-form1 form-group">
                        <label class="col-form-label">Image</label>
                        <input class="form-control" id="image" name="image" placeholder="" required="required"
                               type="file">
                        <p id="error_file"></p>
                    </div>
                    <div class="col-md-6 col-sm-6 contact-form1 form-group">
                        <label class="col-form-label">Price</label>
                        <input class="form-control" id="price" name="price" placeholder="Price" required="required"
                               type="text">
                        <p id="error_price"></p>
                    </div>
                </div>

                <div class="right-w3l col-md-6">
                    <input class="btn btn-primary form-control" id="submit" type="button" value="Submit">
                    <br><br>
                </div>
                <a class="btn btn-success text-right" href="/image/show" style="float:left;">Show All</a>
            </div>
            <br>
            <div class="text-center" id="success" style="color:green;"></div>
            <div class="text-center" id="error" style="color:red;"></div>
        </form>
    </div>
</div>
<p class="text-center">
    <img alt="loader" id="loader" src="/images/loader.gif" style="width: 150px;height: 120px;">
</p>
<script src="/js/product.js"></script>
</body>
</html>
